.imgFondo1 {
    position: absolute;
    bottom: 4rem;
    left: 5rem; /*
    filter: invert(20%); */
    mix-blend-mode: hard-light;
}

.imgFondo2 {
    position: absolute;
    bottom: 4rem;
    right: 5rem;
    mix-blend-mode: hard-light;
}

.close{
    position:absolute;
    color: #000;
    top: 40px;
    left: 40px;
    z-index: 1;
}

@media (max-width: 900px) {
}
